@{
    ViewData["Title"] = "Error403";
}
<h1>@ViewData["Title"] Error 403</h1>

<head>
    <link rel="stylesheet" href="~/css/Error403.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="container">
    <div class="message">
        <h1>Usuário sem acesso</h1>
        <h3>Verifique com o administrador ou gerente</h3>
        <p>Error : 403 </p>
        <br />
        <a class="btn btn-secondary" href="https://localhost:44362/home">Voltar para Home</a>
    </div>
</div>
